flask==3.1.0
flask-cors==5.0.1
gunicorn==23.0.0
requests==2.32.3
opencv-python-headless==4.10.0.84
numpy<2.0
mediapipe==0.10.21
Presage-Technologies==1.5.0
presage-physiology-preprocessing==1.2.1
python-dotenv==1.1.0
